.root
{
	-fx-padding: 10px;
	-fx-spacing: 10px;
	-fx-alignment: CENTER_RIGHT;
}

.grid-pane
{
	-fx-hgap: 20px;
	-fx-vgap: 5px;
}

.text-field, .check-box, .button, .label
{
	-fx-font-size: 13px;
}

.combo-box, .text-field, .check-box, .button
{
	-fx-focus-color: silver;
	-fx-faint-focus-color: transparent;
}

.combo-box, .text-field
{
	-fx-border-radius: 3;
	-fx-border-color: silver;
	-fx-pref-width: 180px;
	-fx-pref-height: 30px;
}

.button
{
	-fx-pref-width: 100px;
}