.tile-pane
{
	-fx-hgap: 10px;
	-fx-padding: 5px;
}

.tile-pane .button
{
	-fx-pref-width: 70px;
}

#statusLabel
{
	-fx-padding: 5px 10px;
}

.table-view .scroll-bar *
{
	-fx-min-height: 0;
	-fx-pref-height: 0;
	-fx-max-height: 0;
}