.root
{
	-fx-focus-color: -fx-accent;
	-fx-base: #373E43;
	-fx-control-inner-background: derive(-fx-base, 35%);
}

.combo-box-popup .list-cell
{
	-fx-text-fill: #EEEEEE !important;
}

.combo-box-popup .list-cell:hover
{
	-fx-background-color: #525A60 !important;
}

.combo-box-popup .list-cell:selected
{
	-fx-background-color: #424A50 !important;
}

.check-box:selected .mark
{
	-fx-background-color: #DDDDDD !important;
}

.table-view
{
	-fx-selection-bar-non-focused: #424A50 !important;
	-fx-selection-bar: #424A50 !important;
}